**Script Description:** This script merges all the individual CSV files of the NOBV EC Tower Locations into one dataframe, and exports the merged CSV file

**File Name:** 01_01_Filter_Merge_EC_Tower_Data.ipynb

**Date:** 2025

**Created by:** Rob Alamgir

#### Import the relevant packages

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#### Extract and Merge data from all the indivdual CSV files

In [2]:
directory_path = 'C:/Data_MSc_Thesis/EC_Tower_Data/Friesland_EC_Tower_Data'   # Specify the directory path
files = os.listdir(directory_path)                                            # Get a list of all files and directories in the specified directory

files = [f for f in files if os.path.isfile(os.path.join(directory_path, f))] # Filter out directories and only list files
files_with_data = []                                                          # Initialize lists to store files with data and without data
files_without_data = []
data_list = []                                                                # Initialize an empty list to store the data

# Loop through each file
for file in files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_csv(file_path, low_memory=False)                            # Read the CSV file with all columns
    # Check if there is any data in the DataFrame
    if not df.empty:
        df['location'] = file                                                # Add the file name as a new column
        data_list.append(df)                                                 # Append the full DataFrame to the list
        files_with_data.append(file)
    else:
        files_without_data.append(file)                                      # If the file is empty, add it to files_without_data
# Combine all data into a single DataFrame if there's any data
if data_list:
    Complete_df = pd.concat(data_list, ignore_index=True)                       # Combine all the data into a single DataFrame
    print("Data successfully extracted!")
else:
    print("No data available to merge.")

print("\nFiles with data:")
print(files_with_data)
print("\nFiles without data:")
print(files_without_data)
print(Complete_df.info())

Data successfully extracted!

Files with data:
['ALB_MS.csv', 'ALB_RF.csv', 'AMM.csv', 'AMR.csv', 'BUO.csv', 'BUW.csv', 'HOC.csv', 'HOH.csv', 'LDC.csv', 'LDH.csv']

Files without data:
[]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425309 entries, 0 to 425308
Columns: 463 entries, datetime to WTMP_sloot
dtypes: float64(180), object(283)
memory usage: 1.5+ GB
None

#### Quickly check basic information about all the columns in the dataframe

In [3]:
# Check the number of rows and columns
print("\nNumber of Rows and Columns:")
print(f"Rows: {Complete_df.shape[0]}")
print(f"Columns: {Complete_df.shape[1]}")

# Iterate over each column in the DataFrame
for column in Complete_df.columns:
    column_name = column                       # Name of the column
    column_unit = Complete_df[column].iloc[0]  # Unit from the first row
    column_dtype = Complete_df[column].dtype   # Data type of the column  
    print(f"Column: {column_name}")
    print(f"  Unit: {column_unit}")
    print(f"  Data Type: {column_dtype}")
    print("-" * 35)

Number of Rows and Columns:
Rows: 425309
Columns: 463
Column: datetime
  Unit: yyyy-mm-dd HH:MM
  Data Type: object
-----------------------------------
Column: DOY
  Unit: [ddd.ddd]
  Data Type: object
-----------------------------------
Column: VPD_f
  Unit: [Pa]
  Data Type: object
-----------------------------------
Column: station
  Unit: nan
  Data Type: object
-----------------------------------
Column: filename
  Unit: nan
  Data Type: object
-----------------------------------
Column: date
  Unit: [yyyy-mm-dd]
  Data Type: object
-----------------------------------
Column: time
  Unit: [HH:MM]
  Data Type: object
-----------------------------------
Column: daytime
  Unit: [1=daytime]
  Data Type: object
-----------------------------------
Column: file_records
  Unit: [#]
  Data Type: object
-----------------------------------
Column: used_records
  Unit: [#]
  Data Type: object
-----------------------------------
Column: Tau
  Unit: [kg+1m-1s-2]
  Data Type: object
-----------------------------------
Column: Tau_flag
  Unit: [#]
  Data Type: object
-----------------------------------
Column: rand_err_Tau
  Unit: [kg+1m-1s-2]
  Data Type: object
-----------------------------------
Column: H
  Unit: [W+1m-2]
  Data Type: object
-----------------------------------
Column: H_flag
  Unit: [#]
  Data Type: object
-----------------------------------
Column: rand_err_H
  Unit: [W+1m-2]
  Data Type: object
-----------------------------------
Column: LE
  Unit: [W+1m-2]
  Data Type: object
-----------------------------------
Column: LE_flag
  Unit: [#]
  Data Type: object
-----------------------------------
Column: rand_err_LE
  Unit: [W+1m-2]
  Data Type: object
-----------------------------------
Column: F_CO2
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: CO2_flag
  Unit: [#]
  Data Type: object
-----------------------------------
Column: rand_err_co2_flux
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: F_H2O
  Unit: [mmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: H2O_flag
  Unit: [#]
  Data Type: object
-----------------------------------
Column: rand_err_h2o_flux
  Unit: [mmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: F_CH4
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: CH4_flag
  Unit: [#]
  Data Type: object
-----------------------------------
Column: rand_err_ch4_flux
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: none_flux
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: qc_none_flux
  Unit: [#]
  Data Type: object
-----------------------------------
Column: rand_err_none_flux
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: H_strg
  Unit: [W+1m-2]
  Data Type: object
-----------------------------------
Column: LE_strg
  Unit: [W+1m-2]
  Data Type: object
-----------------------------------
Column: CO2_strg
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: H2O_strg
  Unit: [mmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: CH4_strg
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: none_strg
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: co2_v.adv
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: h2o_v.adv
  Unit: [mmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: ch4_v.adv
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: none_v.adv
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: co2_molar_density
  Unit: [mmol+1m-3]
  Data Type: object
-----------------------------------
Column: co2_mole_fraction
  Unit: [µmol+1mol_a-1]
  Data Type: object
-----------------------------------
Column: co2_mixing_ratio
  Unit: [µmol+1mol_d-1]
  Data Type: object
-----------------------------------
Column: co2_time_lag
  Unit: [s]
  Data Type: object
-----------------------------------
Column: co2_def_timelag
  Unit: [1=default]
  Data Type: object
-----------------------------------
Column: h2o_molar_density
  Unit: [mmol+1m-3]
  Data Type: object
-----------------------------------
Column: h2o_mole_fraction
  Unit: [mmol+1mol_a-1]
  Data Type: object
-----------------------------------
Column: h2o_mixing_ratio
  Unit: [mmol+1mol_d-1]
  Data Type: object
-----------------------------------
Column: h2o_time_lag
  Unit: [s]
  Data Type: object
-----------------------------------
Column: h2o_def_timelag
  Unit: [1=default]
  Data Type: object
-----------------------------------
Column: ch4_molar_density
  Unit: [mmol+1m-3]
  Data Type: object
-----------------------------------
Column: ch4_mole_fraction
  Unit: [µmol+1mol_a-1]
  Data Type: object
-----------------------------------
Column: ch4_mixing_ratio
  Unit: [µmol+1mol_d-1]
  Data Type: object
-----------------------------------
Column: ch4_time_lag
  Unit: [s]
  Data Type: object
-----------------------------------
Column: ch4_def_timelag
  Unit: [1=default]
  Data Type: object
-----------------------------------
Column: none_molar_density
  Unit: [mmol+1m-3]
  Data Type: object
-----------------------------------
Column: none_mole_fraction
  Unit: [µmol+1mol_a-1]
  Data Type: object
-----------------------------------
Column: none_mixing_ratio
  Unit: [µmol+1mol_d-1]
  Data Type: object
-----------------------------------
Column: none_time_lag
  Unit: [s]
  Data Type: object
-----------------------------------
Column: none_def_timelag
  Unit: [1=default]
  Data Type: object
-----------------------------------
Column: sonic_temperature
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: ATMP_EP
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: PAIR_EP
  Unit: [hPa]
  Data Type: object
-----------------------------------
Column: air_density
  Unit: [kg+1m-3]
  Data Type: object
-----------------------------------
Column: air_heat_capacity
  Unit: [J+1kg-1K-1]
  Data Type: object
-----------------------------------
Column: air_molar_volume
  Unit: [m+3mol-1]
  Data Type: object
-----------------------------------
Column: ET
  Unit: [mm+1hour-1]
  Data Type: object
-----------------------------------
Column: water_vapor_density
  Unit: [kg+1m-3]
  Data Type: object
-----------------------------------
Column: e
  Unit: [Pa]
  Data Type: object
-----------------------------------
Column: es
  Unit: [Pa]
  Data Type: object
-----------------------------------
Column: specific_humidity
  Unit: [kg+1kg-1]
  Data Type: object
-----------------------------------
Column: RHUM_EP
  Unit: [%]
  Data Type: object
-----------------------------------
Column: VPD_EP
  Unit: [Pa]
  Data Type: object
-----------------------------------
Column: DTMP_EP
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: u_unrot
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: v_unrot
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: w_unrot
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: u_rot
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: v_rot
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: w_rot
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: WINS_EP
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: WINM_EP
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: WIND_EP
  Unit: [deg_from_north]
  Data Type: object
-----------------------------------
Column: yaw
  Unit: [deg]
  Data Type: object
-----------------------------------
Column: pitch
  Unit: [deg]
  Data Type: object
-----------------------------------
Column: roll
  Unit: [deg]
  Data Type: object
-----------------------------------
Column: Ustar
  Unit: [m+1s-1]
  Data Type: object
-----------------------------------
Column: TKE
  Unit: [m+2s-2]
  Data Type: object
-----------------------------------
Column: L
  Unit: [m]
  Data Type: object
-----------------------------------
Column: bowen_ratio
  Unit: [#]
  Data Type: object
-----------------------------------
Column: Tstar
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: model
  Unit: [0=KJ/1=KM/2=HS]
  Data Type: object
-----------------------------------
Column: x_peak
  Unit: [m]
  Data Type: object
-----------------------------------
Column: x_offset
  Unit: [m]
  Data Type: object
-----------------------------------
Column: X_10
  Unit: [m]
  Data Type: object
-----------------------------------
Column: X_30
  Unit: [m]
  Data Type: object
-----------------------------------
Column: X_50
  Unit: [m]
  Data Type: object
-----------------------------------
Column: X_70
  Unit: [m]
  Data Type: object
-----------------------------------
Column: X_90
  Unit: [m]
  Data Type: object
-----------------------------------
Column: un_Tau
  Unit: [kg+1m-1s-2]
  Data Type: object
-----------------------------------
Column: Tau_scf
  Unit: [#]
  Data Type: object
-----------------------------------
Column: un_H
  Unit: [W+1m-2]
  Data Type: object
-----------------------------------
Column: H_scf
  Unit: [#]
  Data Type: object
-----------------------------------
Column: un_LE
  Unit: [W+1m-2]
  Data Type: object
-----------------------------------
Column: LE_scf
  Unit: [#]
  Data Type: object
-----------------------------------
Column: un_co2_flux
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: co2_scf
  Unit: [#]
  Data Type: object
-----------------------------------
Column: un_h2o_flux
  Unit: [mmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: h2o_scf
  Unit: [#]
  Data Type: object
-----------------------------------
Column: un_ch4_flux
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: ch4_scf
  Unit: [#]
  Data Type: object
-----------------------------------
Column: un_none_flux
  Unit: [µmol+1s-1m-2]
  Data Type: object
-----------------------------------
Column: un_none_scf
  Unit: [#]
  Data Type: object
-----------------------------------
Column: spikes_hf
  Unit: 8u/v/w/ts/co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: amp_res_hf
  Unit: 8u/v/w/ts/co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: drop_out_hf
  Unit: 8u/v/w/ts/co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: abs_lim_hf
  Unit: 8u/v/w/ts/co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: skw_kur_hf
  Unit: 8u/v/w/ts/co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: skw_kur_sf
  Unit: 8u/v/w/ts/co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: discontinuities_hf
  Unit: 8u/v/w/ts/co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: discontinuities_sf
  Unit: 8u/v/w/ts/co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: timelag_hf
  Unit: 8co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: timelag_sf
  Unit: 8co2/h2o/ch4/none
  Data Type: object
-----------------------------------
Column: attack_angle_hf
  Unit: 8aa
  Data Type: object
-----------------------------------
Column: non_steady_wind_hf
  Unit: 8U
  Data Type: object
-----------------------------------
Column: u_spikes
  Unit: [#]
  Data Type: object
-----------------------------------
Column: v_spikes
  Unit: [#]
  Data Type: object
-----------------------------------
Column: w_spikes
  Unit: [#]
  Data Type: object
-----------------------------------
Column: ts_spikes
  Unit: [#]
  Data Type: object
-----------------------------------
Column: co2_spikes
  Unit: [#]
  Data Type: object
-----------------------------------
Column: h2o_spikes
  Unit: [#]
  Data Type: object
-----------------------------------
Column: ch4_spikes
  Unit: [#]
  Data Type: object
-----------------------------------
Column: none_spikes
  Unit: [#]
  Data Type: object
-----------------------------------
Column: head_detect_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: t_out_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: t_in_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: aux_in_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: delta_p_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: chopper_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: detector_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: pll_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: sync_LI.7200
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: chopper_LI.7500
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: detector_LI.7500
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: pll_LI.7500
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: sync_LI.7500
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: not_ready_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: no_signal_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: re_unlocked_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: bad_temp_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: laser_temp_unregulated_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: block_temp_unregulated_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: motor_spinning_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: pump_on_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: top_heater_on_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: bottom_heater_on_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: calibrating_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: motor_failure_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: bad_aux_tc1_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: bad_aux_tc2_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: bad_aux_tc3_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: box_connected_LI.7700
  Unit: [#_flagged_recs]
  Data Type: object
-----------------------------------
Column: mean_value_RSSI_LI.7200
  Unit: [#]
  Data Type: object
-----------------------------------
Column: mean_value_LI.7500
  Unit: [#]
  Data Type: object
-----------------------------------
Column: u_var
  Unit: [m+2s-2]
  Data Type: object
-----------------------------------
Column: v_var
  Unit: [m+2s-2]
  Data Type: object
-----------------------------------
Column: w_var
  Unit: [m+2s-2]
  Data Type: object
-----------------------------------
Column: ts_var
  Unit: [K+2]
  Data Type: object
-----------------------------------
Column: co2_var
  Unit: --
  Data Type: object
-----------------------------------
Column: h2o_var
  Unit: --
  Data Type: object
-----------------------------------
Column: ch4_var
  Unit: --
  Data Type: object
-----------------------------------
Column: none_var
  Unit: --
  Data Type: object
-----------------------------------
Column: w.ts_cov
  Unit: [m+1s-1K+1]
  Data Type: object
-----------------------------------
Column: w.co2_cov
  Unit: --
  Data Type: object
-----------------------------------
Column: w.h2o_cov
  Unit: --
  Data Type: object
-----------------------------------
Column: w.ch4_cov
  Unit: --
  Data Type: object
-----------------------------------
Column: w.none_cov
  Unit: --
  Data Type: object
-----------------------------------
Column: SigStr_CO2
  Unit: --
  Data Type: object
-----------------------------------
Column: ch4_mean
  Unit: --
  Data Type: object
-----------------------------------
Column: air_t_mean
  Unit: --
  Data Type: object
-----------------------------------
Column: air_p_mean
  Unit: --
  Data Type: object
-----------------------------------
Column: SigStr_CH4
  Unit: --
  Data Type: object
-----------------------------------
Column: diag_77_mean
  Unit: --
  Data Type: object
-----------------------------------
Column: SWIN
  Unit: [W/m^2]
  Data Type: object
-----------------------------------
Column: PAR
  Unit: umol m-2 m-s
  Data Type: object
-----------------------------------
Column: NIR
  Unit: umol m-2 m-s
  Data Type: object
-----------------------------------
Column: LWIN
  Unit: [W/m^2]
  Data Type: object
-----------------------------------
Column: ATMP
  Unit: K
  Data Type: object
-----------------------------------
Column: RHUM
  Unit: %
  Data Type: object
-----------------------------------
Column: PAIR
  Unit: [hPa]
  Data Type: object
-----------------------------------
Column: RAIN
  Unit: mm+1 30min-1
  Data Type: object
-----------------------------------
Column: WIND
  Unit: nan
  Data Type: object
-----------------------------------
Column: WINS
  Unit: m+1s-1
  Data Type: object
-----------------------------------
Column: SWCT_1_005
  Unit: nan
  Data Type: float64
-----------------------------------
Column: SWCT_1_015
  Unit: nan
  Data Type: object
-----------------------------------
Column: SWCT_1_025
  Unit: nan
  Data Type: object
-----------------------------------
Column: SWCT_1_035
  Unit: nan
  Data Type: float64
-----------------------------------
Column: SWCT_1_045
  Unit: nan
  Data Type: object
-----------------------------------
Column: SWCT_1_055
  Unit: nan
  Data Type: float64
-----------------------------------
Column: SWCT_1_065
  Unit: nan
  Data Type: object
-----------------------------------
Column: SWCT_1_075
  Unit: nan
  Data Type: float64
-----------------------------------
Column: SWCT_1_085
  Unit: nan
  Data Type: float64
-----------------------------------
Column: SWCT_1_095
  Unit: nan
  Data Type: float64
-----------------------------------
Column: SWCT_1_105
  Unit: nan
  Data Type: float64
-----------------------------------
Column: SWCT_1_115
  Unit: nan
  Data Type: float64
-----------------------------------
Column: STMP_1_005
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: STMP_1_015
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: STMP_1_025
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: STMP_1_035
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: STMP_1_045
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: STMP_1_055
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: STMP_1_065
  Unit: [DegC]
  Data Type: object
-----------------------------------
Column: STMP_1_075
  Unit: [DegC]
  Data Type: object

In [ ]:
#Complete_df.head(20)
#final_df.tail(5)

#### Extract and Merge data from all the indivdual CSV files and only of specific defined columns

In [4]:
directory_path = 'C:/Data_MSc_Thesis/EC_Tower_Data/Friesland_EC_Tower_Data'  # Specify the directory path
files = os.listdir(directory_path)  # Get a list of all files and directories in the specified directory
files = [f for f in files if os.path.isfile(os.path.join(directory_path, f))]  # Filter out directories and only list files

files_with_data = []  # Initialize lists to store files with and without required columns
files_without_data = []
data_list = []  # Initialize an empty list to store the data

# Define the list of required columns
required_columns = [
    'datetime','DOY', 'daytime',
    'SWCT_1_005', 'SWCT_1_015', 'SWCT_1_025', 'SWCT_1_035', 'SWCT_1_045', 
    'SWCT_1_055', 'SWCT_1_065', 'SWCT_1_075', 'SWCT_1_085', 'SWCT_1_095', 
    'SWCT_1_105', 'SWCT_1_115',
    'STMP_1_005', 'STMP_1_015', 'STMP_1_025', 'STMP_1_035', 'STMP_1_045', 
    'STMP_1_055', 'STMP_1_065', 'STMP_1_075', 'STMP_1_085', 'STMP_1_095', 
    'STMP_1_105', 'STMP_1_115',
    'WLEV_f', 'WTMP_f', 'ATMP_f', 'PAIR_f', 'WIND_f', 'WINS_f', 'RHUM_f', 
    'RAIN_f', 'VPD_f', 'SWIN_f', 'ET', 'NEE_CO2', 'NEE_CH4'
]

# Loop through each file
for file in files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_csv(file_path, low_memory=False)  # Read the CSV file

    # Check if all required columns are present
    if set(required_columns).issubset(df.columns):
        df_filtered = df[required_columns].copy()  # Keep only required columns
        df_filtered['Source'] = file  # Add the file name as a new column
        data_list.append(df_filtered)
        files_with_data.append(file)
    else:
        files_without_data.append(file)

# Merge the data if available
if data_list:
    final_df = pd.concat(data_list, ignore_index=True)  
    print("Data successfully extracted & merged.")
else:
    print("No data available to merge.")   

# Print summary of files
print("\nFiles with required columns:")
print(files_with_data)
print("\nFiles missing required columns:")
print(files_without_data)
print(final_df.info())

Data successfully extracted & merged.

Files with required columns:
['ALB_MS.csv', 'ALB_RF.csv', 'AMM.csv', 'AMR.csv', 'BUO.csv', 'BUW.csv', 'HOC.csv', 'HOH.csv', 'LDC.csv', 'LDH.csv']

Files missing required columns:
[]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425309 entries, 0 to 425308
Data columns (total 41 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   datetime    425309 non-null  object
 1   DOY         425201 non-null  object
 2   daytime     141705 non-null  object
 3   SWCT_1_005  390173 non-null  float64
 4   SWCT_1_015  405103 non-null  object
 5   SWCT_1_025  405251 non-null  object
 6   SWCT_1_035  405140 non-null  float64
 7   SWCT_1_045  405448 non-null  object
 8   SWCT_1_055  405289 non-null  float64
 9   SWCT_1_065  405443 non-null  object
 10  SWCT_1_075  405565 non-null  float64
 11  SWCT_1_085  405564 non-null  float64
 12  SWCT_1_095  391620 non-null  float64
 13  SWCT_1_105  405528 non-null  float64
 14  SWCT_1_115  405570 non-null  float64
 15  STMP_1_005  391503 non-null  object
 16  STMP_1_015  395244 non-null  object
 17  STMP_1_025  392752 non-null  object
 18  STMP_1_035  389117 non-null  object
 19  STMP_1_045  390066 non-null  object
 20  STMP_1_055  388417 non-null  object
 21  STMP_1_065  391739 non-null  object
 22  STMP_1_075  388030 non-null  object
 23  STMP_1_085  385663 non-null  object
 24  STMP_1_095  381064 non-null  object
 25  STMP_1_105  388815 non-null  object
 26  STMP_1_115  361587 non-null  object
 27  WLEV_f      290708 non-null  object
 28  WTMP_f      139405 non-null  object
 29  ATMP_f      425201 non-null  object
 30  PAIR_f      425201 non-null  object
 31  WIND_f      425201 non-null  object
 32  WINS_f      425201 non-null  object
 33  RHUM_f      425201 non-null  object
 34  RAIN_f      425201 non-null  object
 35  VPD_f       417693 non-null  object
 36  SWIN_f      425201 non-null  object
 37  ET          136997 non-null  object
 38  NEE_CO2     69311 non-null   object
 39  NEE_CH4     13859 non-null   object
 40  Source      425309 non-null  object
dtypes: float64(8), object(33)
memory usage: 133.0+ MB
None

In [ ]:
#final_df.head(15)
#final_df.tail(15)

#### Dataframe pre-processing

In [5]:
final_df = final_df.iloc[1:].reset_index(drop=True)                          # Drop the first row (unit row) and reset index
final_df['datetime'] = pd.to_datetime(final_df['datetime'], errors='coerce') # Convert 'datetime' to proper datetime format
exclude_cols = ['Source', 'datetime', 'DOY', 'daytime']                      # Exclude 'Source', 'datetime', 'DOY', and 'daytime' from conversion
numeric_cols = [col for col in final_df.columns if col not in exclude_cols]

# Convert remaining object columns to float
for col in numeric_cols:
    final_df[col] = pd.to_numeric(final_df[col], errors='coerce')

# Move 'Source' column to be after 'daytime'
col_order = ['datetime', 'DOY', 'daytime', 'Source'] + [col for col in final_df.columns if col not in ['datetime', 'DOY', 'daytime', 'Source']]
final_df = final_df[col_order]

final_df['Source'] = final_df['Source'].str.replace('.csv', '', regex=False) # Remove '.csv' from 'Source' column
print(final_df.info())                                                       # Display final DataFrame info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425308 entries, 0 to 425307
Data columns (total 41 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   datetime    425299 non-null  datetime64[ns]
 1   DOY         425200 non-null  object
 2   daytime     141704 non-null  object
 3   Source      425308 non-null  object
 4   SWCT_1_005  390173 non-null  float64
 5   SWCT_1_015  405102 non-null  float64
 6   SWCT_1_025  405250 non-null  float64
 7   SWCT_1_035  405140 non-null  float64
 8   SWCT_1_045  405447 non-null  float64
 9   SWCT_1_055  405289 non-null  float64
 10  SWCT_1_065  405442 non-null  float64
 11  SWCT_1_075  405565 non-null  float64
 12  SWCT_1_085  405564 non-null  float64
 13  SWCT_1_095  391620 non-null  float64
 14  SWCT_1_105  405528 non-null  float64
 15  SWCT_1_115  405570 non-null  float64
 16  STMP_1_005  391502 non-null  float64
 17  STMP_1_015  395243 non-null  float64
 18  STMP_1_025  392751 non-null  float64
 19  STMP_1_035  389116 non-null  float64
 20  STMP_1_045  390064 non-null  float64
 21  STMP_1_055  388415 non-null  float64
 22  STMP_1_065  391737 non-null  float64
 23  STMP_1_075  388028 non-null  float64
 24  STMP_1_085  385661 non-null  float64
 25  STMP_1_095  381062 non-null  float64
 26  STMP_1_105  388814 non-null  float64
 27  STMP_1_115  361586 non-null  float64
 28  WLEV_f      290698 non-null  float64
 29  WTMP_f      139395 non-null  float64
 30  ATMP_f      425191 non-null  float64
 31  PAIR_f      425191 non-null  float64
 32  WIND_f      425191 non-null  float64
 33  WINS_f      425191 non-null  float64
 34  RHUM_f      425191 non-null  float64
 35  RAIN_f      425191 non-null  float64
 36  VPD_f       417683 non-null  float64
 37  SWIN_f      425191 non-null  float64
 38  ET          136987 non-null  float64
 39  NEE_CO2     69301 non-null   float64
 40  NEE_CH4     13849 non-null   float64
dtypes: datetime64[ns](1), float64(37), object(3)
memory usage: 133.0+ MB
None

In [6]:
final_df.head(15)
#final_df.tail(5)

,datetime,DOY,daytime,Source,SWCT_1_005,SWCT_1_015,SWCT_1_025,SWCT_1_035,SWCT_1_045,SWCT_1_055,...,PAIR_f,WIND_f,WINS_f,RHUM_f,RAIN_f,VPD_f,SWIN_f,ET,NEE_CO2,NEE_CH4
0,2022-01-05 12:00:00,5,1,ALB_MS,55.65,51.47,50.47,51.53,52.48,52.53,...,1000.72000,302.229000,6.470570,92.4,0.1,171.216000,141.710667,0.015105,NaN,NaN
1,2022-01-05 12:30:00,5,1,ALB_MS,55.66,51.47,50.47,51.54,52.48,52.53,...,1001.29663,310.186000,6.577790,93.4,0.0,213.700000,212.652333,-0.011354,NaN,NaN
2,2022-01-05 13:00:00,5,1,ALB_MS,55.65,51.48,50.46,51.53,52.49,52.53,...,1001.80994,314.715000,6.859650,90.7,0.0,142.449000,88.554333,-0.010789,NaN,NaN
3,2022-01-05 13:30:00,5,1,ALB_MS,55.63,51.48,50.47,51.54,52.49,52.53,...,1002.37000,310.469000,5.617470,92.8,0.0,160.811000,56.626667,-0.010218,-9.385266,NaN
4,2022-01-05 14:00:00,5,1,ALB_MS,55.59,51.48,50.46,51.55,52.49,52.53,...,1003.02330,310.229000,5.743220,92.6,0.0,144.582000,50.110000,0.010835,-3.781026,NaN
5,2022-01-05 14:30:00,5,1,ALB_MS,55.55,51.48,50.46,51.55,52.50,52.53,...,1003.64330,306.902000,5.157890,94.0,0.2,150.085000,41.320333,0.006891,NaN,NaN
6,2022-01-05 15:00:00,5,1,ALB_MS,55.54,51.48,50.46,51.58,52.49,52.54,...,1004.37000,310.364000,4.095310,92.0,0.0,130.157000,0.951333,-0.001661,NaN,NaN
7,2022-01-05 15:30:00,5,0,ALB_MS,55.54,51.48,50.45,51.57,52.51,52.54,...,1005.08330,308.950000,4.176040,94.8,0.0,137.670000,48.624000,-0.000203,-2.284103,NaN
8,2022-01-05 16:00:00,5,0,ALB_MS,55.54,51.48,50.45,51.59,52.51,52.54,...,1005.66327,308.046000,4.902470,93.8,0.0,159.624000,44.213333,0.000531,NaN,NaN
9,2022-01-05 16:30:00,5,0,ALB_MS,55.54,51.47,50.45,51.60,52.52,52.54,...,1006.24000,311.409000,5.244770,92.5,0.0,163.405000,1.226000,0.001754,NaN,NaN
10,2022-01-05 17:00:00,5,NaN,ALB_MS,55.57,51.48,50.45,51.62,52.51,52.54,...,1006.72990,305.700000,4.455667,92.4,0.0,69.208206,3.507567,NaN,NaN,NaN
11,2022-01-05 17:30:00,5,NaN,ALB_MS,55.60,51.47,50.45,51.62,52.53,52.55,...,1007.37994,317.333333,4.392333,89.9,0.0,88.297378,3.429800,NaN,NaN,NaN
12,2022-01-05 18:00:00,5,NaN,ALB_MS,55.64,51.47,50.45,51.61,52.53,52.55,...,1007.81665,304.866667,5.149667,90.7,0.0,79.338920,3.379300,NaN,NaN,NaN
13,2022-01-05 18:30:00,5,0,ALB_MS,55.65,51.47,50.44,51.61,52.54,52.55,...,1008.29990,310.111000,4.429680,93.0,0.0,162.150000,3.367633,0.030249,NaN,NaN
14,2022-01-05 19:00:00,5,0,ALB_MS,55.63,51.47,50.44,51.62,52.55,52.55,...,1008.57996,307.397000,4.375920,87.5,0.0,148.039000,0.000000,0.022838,3.033672,NaN

#### Export the filtered dataset

In [7]:
# Export the final dataframe to a CSV file
output_path = "C:/Data_MSc_Thesis/Pre_Processed_Data_Final/Pre_Processed_Data_All_Locations_V1.csv"  # Update the path as needed
final_df.to_csv(output_path, index=False)

print(f"DataFrame successfully saved to {output_path}")

DataFrame successfully saved to C:/Data_MSc_Thesis/Pre_Processed_Data_Final/Pre_Processed_Data_All_Locations_V1.csv